<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload CSV File</title>
</head>
<body style="background-color: #121212; color:  white;">
    <h1>Upload CSV Files</h1>
    <form action="http://127.0.0.1:8000/plans_insert" method="post" enctype="multipart/form-data">
        <h3>For plans.csv</h3>
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    <form action="http://127.0.0.1:8000/credits_insert" method="post" enctype="multipart/form-data">
        <h3>For credits.csv</h3>
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    <form action="http://127.0.0.1:8000/payments_insert" method="post" enctype="multipart/form-data">
        <h3>For payments.csv</h3>
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
<!--    <form action="http://127.0.0.1:8000/plans_insert" method="post" enctype="multipart/form-data">-->
<!--        <h3>For plans.csv</h3>-->
<!--        <input type="file" name="file">-->
<!--        <input type="submit" value="Upload">-->
<!--    </form>-->
<!--    <form action="http://127.0.0.1:8000/plans_insert" method="post" enctype="multipart/form-data">-->
<!--        <h3>For plans.csv</h3>-->
<!--        <input type="file" name="file">-->
<!--        <input type="submit" value="Upload">-->
<!--    </form>-->
</body>
</html>